pydantic
pyaudio
pyserial
gpiozero
luma.oled
pillow
transformers>=4.34
datasets
peft
accelerate
bitsandbyte
adapter-transformers
faster-whisper
torch
scipy
re
json
os
time
datetime
random
sounddevice
TTS
ultralytics